html {
  height: 100%;
  width: 100%;
  font: fontREG
}

.center {
      display: flex;
  justify-content: center;
  align-items: center;

}
h1{
font-family: merriweather;
}
form{
  color: blue;
}
@font-face {
  font-family: merriweather;
  src: url(../fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf)
}
  @font-face{
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_opsz,wght.ttf)
}
body {
   font-family: Inter;
  font-size: 20px;
  background-color: #4F2C1D;
}
button{
  padding: 7px;
  border-radius: .25;
}