html {
  height: 100%;
  width: 100%;
  font: fontREG
}

.center {
      display: flex;
  justify-content: center;
  align-items: center;

}
.contact{
   
    text-align: center;
   display: flex;
  align-items: center;
   
}
 
h1{
font-family: merriweather;
}
  .profilePhoto {
  vertical-align: middle;
  width: 100;
  height: 100;
  border-radius: 10%;
}
.contact{
  padding-top: 5px;
}

@font-face {
  font-family: merriweather;
  src: url(../fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf)
}
  @font-face{
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_opsz,wght.ttf)
}
body {
   font-family: Inter;
  font-size: 20px;
  color: white;
  background-color: #4F2C1D;
}
button{
  padding: 7px;
  border-radius: .25;
}